<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <!-- Installation viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Censor</title>
    <!-- Connected Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>

<body>
    <form method="post" th:action="@{handle}">
    <div class="container-fluid align-items-center">

        <!--    {/*заголовок*/}-->
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Censor</span>
        </nav>

        <!--    {/*текст для обработки*/}-->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Текст для обработки</span>
            </div>
            <textarea rows="10" name="source"
                    class="form-control"
                    aria-label="With textarea"></textarea>
        </div>

        <!--    {/*действие с обнаруженными словами*/}-->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Действие с найденными словами</span>
            </div>
            <select
                    name="algorithm"
                    class="custom-select"
                    id="inputGroupSelect01"
            >
                <option value="1" selected>One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <!--    {/*алгоритм поиска*/}-->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Алгоритм поиска</span>
            </div>
            <select
                    name="strategy"
                    class="custom-select"
                    id="inputGroupSelect02"
            >
                <option value="1" selected>One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <!--    {/*алгоритм поиска*/}-->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Стеммер</span>
            </div>
            <select
                    name="stemming"
                    class="custom-select"
                    id="inputGroupSelect03"
            >
                <option value="1" selected>One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <!--    {/*на всякий случай*/}-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Результат</span>
            </div>
            <textarea rows="10" th:text="${text}" class="form-control" placeholder="Имя пользователя"
                   aria-label="Имя пользователя" aria-describedby="basic-addon1"></textarea>
        </div>

        <!--    {/*отправить это все*/}-->
        <button type="submit" class="btn btn-primary mb-2">Отправить</button>

    </div>
</form>
</body>
</html>